<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<resultMap id="adminMemberResultSet" type="Member">
		<id property="userNo" column="USER_NO"/>
		<result property="token" column="TOKEN"/>
		<result property="grade" column="USER_GRADE"/>
		<result property="id" column="USER_ID"/>
		<result property="pwd" column="USER_PWD"/>
		<result property="name" column="USER_NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="approvalKey" column="APPROVAL_KEY"/>
		<result property="approvalStatus" column="APPROVAL_STATUS"/>
		<result property="email" column="EMAIL"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="quitType" column="QUIT_TYPE"/>
		<result property="quitContent" column="QUIT_CONTENT"/>
	</resultMap>
	
	<resultMap type="Board_TB" id="adminBoardResultSet">
		<id property="bno" column="B_NO"/>
		<result property ="userNo" column="USER_NO"/>
		<result property ="writer_id" column="USER_ID"/>
		<result property ="btitle" column="BTITLE"/>
		<result property ="bcontent" column="BCONTENT"/>
		<result property ="category" column="CATEGORY"/>
		<result property ="bcategory" column="BCATEGORY"/>
		<result property ="bcount" column="BCOUNT"/>
		<result property ="brecom" column="BRECOM"/>
		<result property ="bcreateDate" column="B_CREATE_DATE"/>
		<result property ="bmodifyDate" column="B_MODIFY_DATE"/>
		<result property ="bstatus" column="B_STATUS"/>
		<result property ="brefNo" column="B_REF_NO"/>
	</resultMap>
	
	<resultMap type="Board_TB" id="adminSurveyResultSet">
		<id property="bno" column="S_NO"/>
		<result property ="userNo" column="USER_NO"/>
		<result property ="btitle" column="STITLE"/>
		<result property ="bcreateDate" column="S_CREATE_DATE"/>
		<result property ="bstatus" column="S_STATUS"/>
		<result property ="writer_id" column="USER_ID"/>
	</resultMap>
	
	<resultMap id="adminReportResultSet" type="Report">
		<id property="reportNo" column="REPORT_NO"/>
		<result property="reportType" column="R_TYPE"/>
		<result property="reportContent" column="R_CONTENT"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="reporter" column="REPORTER"/>
		<result property="suspect" column="SUSPECT"/>
		<result property="reporter_id" column="REPORTER_ID"/>
		<result property="suspect_id" column="SUSPECT_ID"/>
		<result property="s_grade" column="S_GRADE"/>
		<result property="s_status" column="S_STATUS"/>
		
		<result property="boardNo" column="B_NO"/>
		<result property="surveyNo" column="S_NO"/>
		<result property="replyNo" column="RE_NO"/>
		<result property="goodsNo" column="GOODS_NO"/>
		<result property="goodsReplyNo" column="REPLY_NO"/>
	</resultMap>
	
	<select id="selectMemberListCount" resultType="_int">
		SELECT
			  COUNT(*)
		  FROM
		  	  MEMBER_TB
		 WHERE
		 	  STATUS='Y'
		  AND USER_GRADE != '관리자'
	</select>
	
	<select id="selectMemberList" resultMap="adminMemberResultSet">
		SELECT 
          		  USER_NO
		        , TOKEN
		        , USER_GRADE
		        , USER_ID
		        , USER_PWD
		        , USER_NAME
		        , PHONE
		        , ADDRESS
		        , APPROVAL_KEY
		        , APPROVAL_STATUS
		        , EMAIL
		        , CREATE_DATE
		        , MODIFY_DATE
		        , STATUS
		        , QUIT_TYPE
		        , QUIT_CONTENT
		FROM 
        		MEMBER_TB
		WHERE
        		STATUS = 'Y'
		AND     USER_GRADE != '관리자'
	</select>
	
	<update id="quitMember" parameterType="_int">
		UPDATE
			  MEMBER_TB
		   SET
		   	  STATUS = 'N'
		 WHERE
		 	  USER_NO = #{userNo}
	</update>
	
	<update id="updateMemberGrade" parameterType="Member">
		UPDATE
			  MEMBER_TB
		   SET
		   	  <choose>
		   	  	<when test="grade == '일반회원'">
		   	  		USER_GRADE = '일반회원'
		   	  	</when>
		   	  	<otherwise>
		   	  		USER_GRADE = '블랙회원'
		   	  	</otherwise>
		   	  </choose>
		 WHERE
		 	  USER_NO = #{userNo}
	</update>
	
	<select id="selectMemberInfo" parameterType="_int" resultMap="adminMemberResultSet">
		SELECT 
          		  USER_NO
		        , TOKEN
		        , USER_GRADE
		        , USER_ID
		        , USER_PWD
		        , USER_NAME
		        , PHONE
		        , ADDRESS
		        , APPROVAL_KEY
		        , APPROVAL_STATUS
		        , EMAIL
		        , CREATE_DATE
		        , MODIFY_DATE
		        , STATUS
		        , QUIT_TYPE
		        , QUIT_CONTENT
		FROM 
        		MEMBER_TB
		WHERE
        		STATUS = 'Y'
        	AND USER_NO = #{userNo}
	</select>
	
	<select id="selectBoardListCount" parameterType="String" resultType="_int">
		SELECT 
				COUNT(*)
		  FROM
				BOARD_TB
		 WHERE
				B_STATUS = 'Y'
			AND CATEGORY = #{category}
	</select>
	
	<select id="selectBoardList" parameterType="String" resultMap="adminBoardResultSet">
		SELECT
				B_NO
			  , USER_NO
			  , USER_ID
			  , BTITLE
			  , BCONTENT
			  , CATEGORY
			  , BCATEGORY
			  , BCOUNT
			  , BRECOM
			  , B_CREATE_DATE
			  , B_MODIFY_DATE
			  , B_STATUS
			  , B_REF_NO
		 FROM
				BOARD_TB
		   JOIN MEMBER_TB USING(USER_NO)
		WHERE
				B_STATUS= 'Y'
		AND		CATEGORY = #{category}
	 ORDER BY
				B_NO DESC
	</select>
	
	<select id="selectSurveyListCount" resultType="_int">
		SELECT 
				COUNT(*)
		  FROM
				SURVEY_TB
		 WHERE
				S_STATUS = 'Y'
	</select>
	
	<select id="selectSurveyList" resultMap="adminSurveyResultSet">
		SELECT
				S_NO
			  , SURVEY_TB.USER_NO
			  , STITLE
			  , S_CREATE_DATE
			  , S_STATUS
			  , USER_ID
		 FROM
				SURVEY_TB, MEMBER_TB
 		WHERE
 				SURVEY_TB.USER_NO = MEMBER_TB.USER_NO
		  AND	S_STATUS= 'Y'
	 ORDER BY
				S_NO DESC
	</select>
	
	<select id="selectReportListCount" resultType="_int">
		SELECT 
				COUNT(*)
		  FROM
				REPORT_TB
		 WHERE
				STATUS = 'Y'
	</select>
	
	<select id="selectReportList" resultMap="adminReportResultSet">
		SELECT
				  RP.REPORT_NO
				, RP.R_TYPE
				, RP.R_CONTENT
				, RP.CREATE_DATE
				, RP.STATUS
				, RP.REPORTER
				, RP.SUSPECT
				, R.USER_ID as "REPORTER_ID"
				, S.USER_ID as "SUSPECT_ID"
				, S.USER_GRADE as "S_GRADE"
				, S.STATUS as "S_STATUS"
		 FROM
				REPORT_TB RP
				JOIN MEMBER_TB R ON(R.USER_NO = RP.REPORTER)
				JOIN MEMBER_TB S ON(S.USER_NO = RP.SUSPECT) 
 		WHERE
 				RP.STATUS= 'Y'
	 ORDER BY
				RP.REPORT_NO DESC
	</select>
	
	<update id="updateDownMember" parameterType="_int">
		UPDATE
			MEMBER_TB
		SET
			USER_GRADE = '블랙회원'
		WHERE
			USER_NO = #{userNo}
	</update>
</mapper>






