<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMobileMapper">
	<resultMap type="Board_TB" id="boardResultSet">
		<id property="bno" column="B_NO"/>
		<result property ="userNo" column="USER_NO"/>
		<result property ="btitle" column="BTITLE"/>
		<result property ="bcontent" column="BCONTENT"/>
		<result property ="category" column="CATEGORY"/>
		<result property ="bcategory" column="BCATEGORY"/>
		<result property ="bcount" column="BCOUNT"/>
		<result property ="brecom" column="BRECOM"/>
		<result property ="bcreateDate" column="B_CREATE_DATE"/>
		<result property ="bmodifyDate" column="B_MODIFY_DATE"/>
		<result property ="bstatus" column="B_STATUS"/>
		<result property ="brefNo" column="B_REF_NO"/>
		<result property ="writer_id" column="USER_ID"/>
		
	</resultMap>

<resultMap id="replyResultSet" type="Reply_TB">
		<id property="re_no" column="RE_NO"/>
		<result property="user_no" column="USER_NO"/>
		<result property="re_content" column="RE_CONTENT"/>
		<result property="create_date" column="CREATE_DATE"/>
		<result property="modify_date" column="MODIFY_DATE"/>
		<result property="re_status" column="RE_STATUS"/>
		<result property="b_no" column="B_NO"/>
		<result property="s_no" column="S_NO"/>	
		<result property="user_id" column="USER_ID"/>	
			
	</resultMap>
 
 <resultMap id="AttResultSet" type="B_Att_TB">
		<id property="bfno" column="BF_NO"/>
		<result property="bforiginalName" column="BF_ORIGIN_NAME"/>
		<result property="bfrenameName" column="BF_RENAME_NAME"/>
		<result property="bffilePath" column="BF_FILEPATH"/>
		<result property="bfuploadDate" column="BF_UPLOAD_DATE"/>
		<result property="bfstatus" column="BF_STATUS"/>
		<result property="bno" column="B_NO"/>	
	</resultMap>
 
	<select id="selectListCount" resultType="_int">
		 SELECT 
				COUNT(*)
		  FROM
				BOARD_TB
		 WHERE
				B_STATUS = 'Y'
		   AND  CATEGORY = '뉴스'
		   				
	</select>
	
	<select id="selectList" resultMap="boardResultSet">
		 SELECT
				B_NO
			  , BOARD_TB.USER_NO
			  , BTITLE
			  , BCONTENT
			  , CATEGORY
			  , BCATEGORY
			  , BCOUNT
			  , BRECOM
			  , B_CREATE_DATE
			  , B_MODIFY_DATE
			  , B_STATUS
			  , B_REF_NO
			  , USER_ID
		 FROM
				BOARD_TB, MEMBER_TB
 		WHERE
 				BOARD_TB.USER_NO = MEMBER_TB.USER_NO
		  AND	B_STATUS= 'Y'
		  AND   CATEGORY = '뉴스'
	 ORDER BY
				B_NO DESC	   	 
	</select>
	
	<insert id="insertBoard" parameterType="Board_TB">
		INSERT
		  INTO BOARD_TB
		 (
				B_NO
			  , USER_NO
			  , BTITLE
			  , BCONTENT
			  , CATEGORY
			  , BCATEGORY
			  , BCOUNT
			  , BRECOM
			  , B_CREATE_DATE
			  , B_MODIFY_DATE
			  , B_STATUS
			  , B_REF_NO
		)
		VALUES
		(
			  SEQ_B_NO.NEXTVAL
			, #{userNo} 
			, #{btitle}
			, #{bcontent}
			, #{category}
			, #{bcategory}
			, DEFAULT
			, DEFAULT
			, SYSDATE
			, SYSDATE
			, DEFAULT
			, SEQ_B_NO.NEXTVAL
		)
	</insert>
	
	<insert id="insertBoardAtt" parameterType="B_Att_TB">
		INSERT
		  INTO B_ATT_TB
		 (
				BF_NO
			  , BF_ORIGIN_NAME
			  , BF_RENAME_NAME
			  , BF_FILEPATH
			  , BF_UPLOAD_DATE
			  , BF_STATUS
			  , B_NO
		)
		VALUES
		(
			  SEQ_BF_NO.NEXTVAL
			, #{bforiginalName} 
			, #{bfrenameName}
			, #{bffilePath}
			, SYSDATE
			, DEFAULT
			, SEQ_B_NO.CURRVAL
		)
	</insert>

<select id="selectBoard" parameterType="_int" resultMap="boardResultSet">
		SELECT
				B_NO
			  , BOARD_TB.USER_NO
			  , BTITLE
			  , BCONTENT
			  , CATEGORY
			  , BCATEGORY
			  , BCOUNT
			  , BRECOM
			  , B_CREATE_DATE
			  , B_MODIFY_DATE
			  , B_STATUS
			  , B_REF_NO
			  , USER_ID
		 FROM
				BOARD_TB, MEMBER_TB
 		WHERE
 				BOARD_TB.USER_NO = MEMBER_TB.USER_NO
		  AND   B_STATUS= 'Y'		  
		  AND	B_NO = #{bno}
		
</select>

<update id="updateReadCount" parameterType="_int">
		UPDATE
				BOARD_TB
		   SET
		   		BCOUNT = BCOUNT + 1
		 WHERE
		   		B_NO = #{bno}			
	
	</update>

<update id="updateBoard" parameterType="Board_TB">
		UPDATE
			    BOARD_TB
		SET
				BTITLE = #{btitle}
			  , BCONTENT = #{bcontent}
			  , BCATEGORY = #{bcategory}	
		      ,	B_MODIFY_DATE = SYSDATE
		WHERE
		        B_NO = #{bno}
	
	
	</update>

<update id="updateBoardAtt" parameterType="B_Att_TB">
		
		UPDATE
			    B_Att_TB 
		SET
			    BF_ORIGIN_NAME = #{bforiginalName}
			  , BF_RENAME_NAME = #{bfrenameName}
			  , BF_FILEPATH = #{bffilePath}
			  , BF_UPLOAD_DATE = SYSDATE
		WHERE
		        B_NO = #{bno}
			
	</update>

<select id="selectBoardAtt" parameterType="_int" resultMap="AttResultSet">
		SELECT
				BF_NO
			  , BF_ORIGIN_NAME
			  , BF_RENAME_NAME
			  , BF_FILEPATH
			  , BF_UPLOAD_DATE
			  , BF_STATUS
			  , B_NO
		  FROM
		  		B_Att_TB
		 WHERE
		 		B_NO = #{bno}
	</select>

<update id="deleteBoard" parameterType="_int">
		UPDATE
			   BOARD_TB
		   SET
			   B_STATUS = 'N'	   
		 WHERE
			   B_NO = #{bno}
	</update>

<update id="deleteBoardAtt" parameterType="_int">
		UPDATE
			   B_Att_TB
		   SET
			   BF_STATUS = 'N'	   
		 WHERE
			   B_NO = #{bno}
	</update>

<select id="selectReplyList" parameterType="_int" resultMap="replyResultSet">
		SELECT
				RE_NO
			  , REPLY_TB.USER_NO
			  , RE_CONTENT
			  , REPLY_TB.CREATE_DATE
			  , REPLY_TB.MODIFY_DATE
			  , RE_STATUS
			  , B_NO
			  , S_NO
			  , USER_ID
		 FROM
		 		REPLY_TB, MEMBER_TB		 		
		 WHERE
		 		REPLY_TB.USER_NO = MEMBER_TB.USER_NO
		   AND	B_NO = #{bno}			  	
		   AND  RE_STATUS = 'Y'
	  ORDER BY
				RE_NO DESC	
	</select>

<insert id="insertReply" parameterType="Reply_TB">
		INSERT INTO
		REPLY_TB
		(
				RE_NO
			  , USER_NO
			  , RE_CONTENT
			  , CREATE_DATE
			  , MODIFY_DATE
			  , RE_STATUS
			  , B_NO
			  , S_NO
		)
	   VALUES
		(
			   SEQ_RE_NO.NEXTVAL
			 , #{user_no}
			 , #{re_content}
			 , SYSDATE
			 , SYSDATE
			 , DEFAULT 
			 , #{b_no}
			 , NULL	  	
		)
	</insert>

	<select id="searchList" parameterType="Search" resultMap="boardResultSet">
	<bind name="sv" value="'%' + _parameter.getSearchValue() + '%'"/>	
		SELECT
				B_NO
			  , BOARD_TB.USER_NO
			  , BTITLE
			  , BCONTENT
			  , CATEGORY
			  , BCATEGORY
			  , BCOUNT
			  , BRECOM
			  , B_CREATE_DATE
			  , B_MODIFY_DATE
			  , B_STATUS
			  , B_REF_NO
			  , USER_ID
		  FROM
			    BOARD_TB,  MEMBER_TB
		 <where>
				 BOARD_TB.USER_NO = MEMBER_TB.USER_NO
		  		AND	B_STATUS= 'Y'
		  		AND  CATEGORY = '뉴스'    	  	
				<choose>
					<when test="searchCondition == 'title'">
					AND BTITLE LIKE #{sv}
					</when>
					<when test="searchCondition == 'writer'">
					AND USER_ID LIKE #{sv}
					</when>
					<when test="searchCondition == 'content'">
					AND BCONTENT LIKE #{sv}
					</when>
					<otherwise>
					AND (USER_ID LIKE #{sv}
						 OR BTITLE LIKE #{sv}
						 OR BCONTENT LIKE #{sv})
					</otherwise>
				</choose>
		  </where>
		  ORDER BY B_NO DESC
	</select>

<update id="recommend" parameterType="_int">
		UPDATE
			   BOARD_TB
		   SET
			   BRECOM = BRECOM + 1   
		 WHERE
			   B_NO = #{bno}
	</update>

<update id="deleteReply" parameterType="Reply_TB">
      UPDATE
            REPLY_TB
         SET
            RE_STATUS = 'N'      
       WHERE
            B_NO = #{b_no}
       AND  RE_NO = #{re_no}
   </update>


<select id="searchFreeListCount" parameterType="Search" resultType="_int">
		<bind name="sv" value="'%' + _parameter.getSearchValue() + '%'"/>
		SELECT
				COUNT(*)
		 FROM
				BOARD_TB
		   JOIN MEMBER_TB USING(USER_NO)
		<where>
			B_STATUS = 'Y'
			AND  CATEGORY = '뉴스'
			<choose>
				<when test="searchCondition == 'title'">
				AND BTITLE LIKE #{sv}
				</when>
				<when test="searchCondition == 'writer'">
				AND USER_NAME LIKE #{sv}
				</when>
				<when test="searchCondition == 'content'">
				AND BCONTENT LIKE #{sv}
				</when>
				<otherwise>
				AND (USER_NAME LIKE #{sv}
					OR BTITLE LIKE #{sv}
					OR BCONTENT LIKE #{sv})
				</otherwise>
			</choose>
		</where>
	</select>

</mapper>
