<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="buyInfoMapper">

	<resultMap type="DealInfo" id="dealInfoResultSet">
		<id property="goodsNo" column="GOODS_NO"/>
		<result property="price" column="PRICE"/>
		<result property="gtitle" column="GOODS_TITLE"/>
		<result property="modelName" column="MODEL_NAME"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="progress" column="PROGRESS"/>
		<result property="dealWay" column="DEAL_WAY"/>
		<result property="dealNo" column="DEAL_NO"/>
	</resultMap>
	
	<resultMap type="GoodsAtt" id="attResultSet">
		<id property="gattNo" column="GDS_ATT_NO"/>
		<result property="attOrder" column="ATT_ORDER"/>
		<result property="originName" column="ATT_FILENAME"/>
		<result property="changeName" column="ATT_RENAME"/>
		<result property="filePath" column="ATT_FILEPATH"/>
		<result property="goodsNo" column="GOODS_NO"/>
	</resultMap>
	
	<resultMap type="BuyerInfo" id="buyerInfoResultSet">
		<id property="dealNo" column="DEAL_NO"/>
		<result property="userName" column="USER_NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="dealRequest" column="REQUEST"/>
		<result property="goodsNo" column="GOODS_NO"/>
	</resultMap>
	
	<resultMap type="PaymentInfo" id="paymentInfoResultSet">
		<id property="goodsNo" column="GOODS_NO"/>
		<result property="price" column="PRICE"/>
		<result property="dealWay" column="DEAL_WAY"/>
		<result property="deliveryFee" column="DELIVERY_FEE"/>
	</resultMap>
	
	<resultMap type="DeliveryInfo" id="deliveryInfoResultSet">
		<id property="delNo" column="DEL_NO"/>
		<result property="company" column="COMPANY"/>
		<result property="invoice" column="INVOICE"/>
		<result property="type" column="TYPE"/>
		<result property="dealNo" column="DEAL_NO"/>
	</resultMap>
	
	<resultMap type="Member" id="memberResultSet">
		<id property="userNo" column="USER_NO"/>
		<result property="name" column="USER_NAME"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="address" column="ADDRESS"/>
	</resultMap>					
	
	<select id="selectBuyInfoList" parameterType="_int" resultMap="dealInfoResultSet">
		SELECT
			   DISTINCT DEAL_NO
			 , GOODS_NO
			 , PRICE
			 , GOODS_TITLE
			 , CREATE_DATE
			 , MODEL_NAME
			 , PROGRESS
		  FROM
		  	   GOODS_TB
			   JOIN PHONE_TB USING (PRO_NO)
			   JOIN PRODUCT_TB USING (PRO_NO)
			   JOIN DEAL_TB D USING (GOODS_NO)
		 WHERE
		 	   BUYER_NO = #{userNo}
		   AND D.STATUS = 'Y'
	  ORDER BY
	  		   DEAL_NO DESC	
	</select>
	
	<select id="selectAttList" resultMap="attResultSet">
		SELECT
			   GDS_ATT_NO
			 , ATT_FILENAME
			 , ATT_RENAME
			 , GOODS_NO
		  FROM
		  	   G_ATT_TB
		 WHERE
		 	   ATT_ORDER = 1	
	</select>
	
	<select id="selectBuyInfo" parameterType="_int" resultMap="dealInfoResultSet">
		SELECT
			   DISTINCT GOODS_NO
			 , PRICE
			 , GOODS_TITLE
			 , CREATE_DATE
			 , MODEL_NAME
			 , PROGRESS
			 , DEAL_WAY
			 , DEAL_NO
		  FROM
		  	   GOODS_TB
			   JOIN PHONE_TB USING (PRO_NO)
			   JOIN PRODUCT_TB USING (PRO_NO)
			   JOIN DEAL_TB USING (GOODS_NO)
		 WHERE
		 	   GOODS_NO = #{goodsNo}	
	</select>
	
	<select id="selectBuyerInfo" parameterType="_int" resultMap="buyerInfoResultSet">
		SELECT
			   DEAL_NO
			 , USER_NAME
			 , M.PHONE
			 , M.ADDRESS
			 , REQUEST
			 , GOODS_NO
		  FROM
		  	   MEMBER_TB M
			   JOIN DEAL_TB ON (USER_NO = BUYER_NO)
		 WHERE
		 	   GOODS_NO = #{goodsNo}	
	</select>
	
	<select id="selectBuyerModifyInfo" parameterType="_int" resultMap="buyerInfoResultSet">
		SELECT
			   DEAL_NO
			 , USER_NAME
			 , D.PHONE
			 , D.ADDRESS
			 , REQUEST
			 , GOODS_NO
		  FROM
		  	   DEAL_TB D
			   JOIN MEMBER_TB ON (BUYER_NO = USER_NO)
		 WHERE
		 	   GOODS_NO = #{goodsNo}	
	</select>
	
	<select id="selectPaymentInfo" parameterType="_int" resultMap="paymentInfoResultSet">
		SELECT
			   GOODS_NO
			 , PRICE
			 , DEAL_WAY
			 , DELIVERY_FEE
		  FROM
		  	   GOODS_TB
		 WHERE
		 	   GOODS_NO = #{goodsNo}	
	</select>
	
	<select id="selectDeliveryInfo" parameterType="_int" resultMap="deliveryInfoResultSet">
		SELECT
			   DEL_NO
			 , COMPANY
			 , INVOICE
			 , DEAL_NO
		  FROM
		  	   DELIVERY_TB
			   JOIN DEAL_TB USING (DEAL_NO)
		 WHERE
		 	   TYPE = '판매'
		   AND DEAL_NO = #{dealNo}	
	</select>
	
	<select id="selectReDeliveryInfo" parameterType="_int" resultMap="deliveryInfoResultSet">
		SELECT
			   DEL_NO
			 , COMPANY
			 , INVOICE
			 , DEAL_NO
		  FROM
		  	   DELIVERY_TB
			   JOIN DEAL_TB USING (DEAL_NO)
		 WHERE
		 	   TYPE = '반품'
		   AND DEAL_NO = #{dealNo}	
	</select>
	
	<select id="selectSellerInfo" parameterType="_int" resultMap="memberResultSet">
		SELECT
			   USER_NO
			 , USER_NAME
			 , EMAIL
			 , PHONE
			 , CREATE_DATE
			 , ADDRESS
		  FROM
		  	   MEMBER_TB
		 WHERE
		 	   USER_NO = (SELECT
		 	   					 USER_NO
		 	   				FROM
		 	   					 GOODS_TB
		 	   			   WHERE
		 	   			   		 GOODS_NO = #{goodsNo})
	</select>
	
	<select id="selectCategoryList" parameterType="CategoryInfo" resultMap="dealInfoResultSet">
		SELECT
			   DISTINCT DEAL_NO
			 , GOODS_NO
			 , PRICE
			 , GOODS_TITLE
			 , CREATE_DATE
			 , MODEL_NAME
			 , PROGRESS
		  FROM
		  	   GOODS_TB
			   JOIN PHONE_TB USING (PRO_NO)
			   JOIN PRODUCT_TB USING (PRO_NO)
			   JOIN DEAL_TB D USING (GOODS_NO)
		 WHERE
		 	   BUYER_NO = #{userNo}
		   AND D.STATUS = 'Y'	   	   
		   AND PROGRESS = #{category}		
	  ORDER BY
	  		   DEAL_NO DESC		
	</select>
	
	<select id="selectMonthsList" parameterType="PeriodInfo" resultMap="dealInfoResultSet">
		SELECT
			   DISTINCT DEAL_NO
			 , GOODS_NO
			 , PRICE, GOODS_TITLE
			 , CREATE_DATE
			 , MODEL_NAME
			 , PROGRESS
		  FROM
		  	   GOODS_TB
			   JOIN PHONE_TB USING (PRO_NO)
			   JOIN PRODUCT_TB USING (PRO_NO)
			   JOIN DEAL_TB D USING (GOODS_NO)
		 WHERE
		 	   BUYER_NO = #{userNo}
		   AND D.STATUS = 'Y'	   
		<if test="month == 1">
		   AND MODIFY_DATE BETWEEN SYSDATE-30 AND SYSDATE
		</if>
		<if test="month == 3">
		   AND MODIFY_DATE BETWEEN SYSDATE-91 AND SYSDATE		
		</if>
		<if test="month == 6">
		   AND MODIFY_DATE BETWEEN SYSDATE-181 AND SYSDATE		
		</if>
	  ORDER BY
	  		   DEAL_NO DESC
	</select>
	
	<select id="selectCalendarList" parameterType="CalendarInfo" resultMap="dealInfoResultSet">
		SELECT
			   DISTINCT DEAL_NO
			 , GOODS_NO
			 , PRICE
			 , GOODS_TITLE
			 , CREATE_DATE
			 , MODEL_NAME
			 , PROGRESS
		  FROM
		  	   GOODS_TB
			   JOIN PHONE_TB USING (PRO_NO)
			   JOIN PRODUCT_TB USING (PRO_NO)
			   JOIN DEAL_TB D USING (GOODS_NO)
		 WHERE
		 	   BUYER_NO = #{userNo}
		   AND D.STATUS = 'Y'	   
		   AND MODIFY_DATE BETWEEN #{startDate} AND #{endDate}
	  ORDER BY
	  		   DEAL_NO DESC
	</select>
	
	<select id="selectSearchList" parameterType="SearchKeyword" resultMap="dealInfoResultSet">
		SELECT
			   DISTINCT DEAL_NO
			 , GOODS_NO
			 , PRICE
			 , GOODS_TITLE
			 , CREATE_DATE
			 , MODEL_NAME
			 , PROGRESS
		  FROM
		  	   GOODS_TB
			   JOIN PHONE_TB USING (PRO_NO)
			   JOIN PRODUCT_TB USING (PRO_NO)
			   JOIN DEAL_TB D USING (GOODS_NO)
		 WHERE
		 	   BUYER_NO = #{userNo}
		   AND D.STATUS = 'Y'	   
		   AND GOODS_TITLE LIKE '%' || #{keyword} || '%'
	  ORDER BY
	  		   DEAL_NO DESC
	</select>
	
	<update id="deleteBuyInfo" parameterType="_int">
		UPDATE
			   DEAL_TB
		   SET
		   	   STATUS = 'N'
		 WHERE
		 	   DEAL_NO = #{dealNo}	
	</update>
	
	<insert id="insertReDeliveryInfo" parameterType="DeliveryInfo">
		INSERT
		  INTO DELIVERY_TB
		(
			   DEL_NO
			 , COMPANY
			 , INVOICE
			 , TYPE
			 , DEAL_NO
		)
		VALUES
		(
			   SEQ_DEL_NO.NEXTVAL
			 , #{company}
			 , #{invoice}
			 , #{type}
			 , #{dealNo}
		)	
	</insert>
	
	<update id="updateReDeliveryInfo">
		UPDATE
			   DELIVERY_TB
		   SET
		   	   COMPANY = #{company}
		   	 , INVOICE = #{invoice}
		 WHERE
		 	   DEL_NO = #{delNo}		
	</update>
	
	<insert id="insertReturnInfo" parameterType="ReturnInfo">
		INSERT
		  INTO RETURN_TB
		(
			   RTN_NO
			 , CONTENT
			 , D_CONTENT
			 , DEL_TYPE
			 , GOODS_NO
		)
		VALUES
		(
			   SEQ_RTN_NO.NEXTVAL
			 , #{content}
			 , #{dcontent}
			 , #{delType}
			 , #{goodsNo}
		)
	</insert>
	
	<update id="updateProcessReturn" parameterType="_int">
		UPDATE
			   DEAL_TB
		   SET
		   	   PROGRESS = '반품요청'
		 WHERE
		 	   DEAL_NO = #{dealNo}		
	</update>
	
	<update id="updateProcessDecision" parameterType="_int">
		UPDATE
			   DEAL_TB
		   SET
		   	   PROGRESS = '구매결정완료'
		 WHERE
		 	   DEAL_NO = #{dealNo}
	</update>
	
	<select id="allCnt" parameterType="_int" resultType="_int">
		SELECT
			   COUNT(PROGRESS)
		  FROM
		  	   DEAL_TB D
			   JOIN GOODS_TB USING (GOODS_NO)
		 WHERE
		 	   BUYER_NO = #{userNo}
		   AND D.STATUS = 'Y'	   
	</select>
	
	<select id="preparedCnt" parameterType="_int" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM
		  	   DEAL_TB D
			   JOIN GOODS_TB USING (GOODS_NO)
		 WHERE
		 	   BUYER_NO = #{userNo}
		   AND D.STATUS = 'Y'
		   AND PROGRESS = '배송준비(결제완료)'
	</select>
	
	<select id="deliveryCnt" parameterType="_int" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM
		  	   DEAL_TB D
			   JOIN GOODS_TB USING (GOODS_NO)
		 WHERE
		 	   BUYER_NO = #{userNo}
		   AND D.STATUS = 'Y'
		   AND PROGRESS = '배송'	
	</select>
	
	<select id="decisionCnt" parameterType="_int" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM
		  	   DEAL_TB D
			   JOIN GOODS_TB USING (GOODS_NO)
		 WHERE
		 	   BUYER_NO = #{userNo}
		   AND D.STATUS = 'Y'
		   AND PROGRESS = '구매결정완료'	
	</select>
	
	<select id="returnCnt" parameterType="_int" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM
		  	   DEAL_TB D
			   JOIN GOODS_TB USING (GOODS_NO)
		 WHERE
		 	   BUYER_NO = #{userNo}
		   AND D.STATUS = 'Y'
		   AND PROGRESS = '반품요청'	
	</select>
	
	<select id="finishedCnt" parameterType="_int" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM
		  	   DEAL_TB D
			   JOIN GOODS_TB USING (GOODS_NO)
		 WHERE
		 	   BUYER_NO = #{userNo}
		   AND D.STATUS = 'Y'
		   AND PROGRESS = '거래완료'	
	</select>					
	
</mapper>