<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itdProductMapper">

	<resultMap type="ItdProduct" id="itdProdResultSet">
		<id property="itdNo" column="ITD_NO"/>		
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="productNo" column="PRO_NO"/>
		<result property="productName" column="PRO_NAME"/>
		<result property="modelName" column="MODEL_NAME"/>
		<result property="maker" column="MAKER"/>
		<result property="carrNo" column="CARR_NO"/>
		<result property="carrName" column="CARR_NAME"/>
		<result property="userNo" column="USER_NO"/>
	</resultMap>

	<select id="selectItdProdList" parameterType="_int" resultMap="itdProdResultSet">
		SELECT
			   ITD_NO
			 , MAKER
			 , PRO_NAME
			 , MODEL_NAME
			 , ENROLL_DATE
			 , USER_NO
		  FROM
		  	   INTERESTED_TB
			   JOIN PRODUCT_TB USING (PRO_NO)
		 WHERE
		 	   STATUS = 'Y'
		   AND USER_NO = #{userNo}
	  ORDER BY
	  		   ENROLL_DATE DESC
	</select>
	
	<update id="deleteInterest" parameterType="_int">
		UPDATE
			   INTERESTED_TB
		   SET
		   	   STATUS = 'N'
		 WHERE
		 	   ITD_NO = #{itdNo}
	</update>
	
	<select id="selectItdProd" parameterType="string" resultMap="itdProdResultSet">
		SELECT
			   PRO_NO
			 , MAKER
			 , PRO_NAME
			 , MODEL_NAME
		  FROM
		  	   PRODUCT_TB
		 WHERE
		 	   MODEL_NAME = #{keyword}
	</select>
	
	<insert id="insertInterestProd" parameterType="ItdProduct">
		INSERT
		  INTO INTERESTED_TB
		(
			   ITD_NO
			 , ENROLL_DATE
			 , STATUS
			 , USER_NO
			 , PRO_NO
			 , CARR_NO
		)
		VALUES
		(
			   SEQ_ITD_NO.NEXTVAL
			 , SYSDATE
			 , DEFAULT
			 , #{userNo}
			 , #{productNo}
			 , #{carrNo}
		)
	</insert>
	
	<select id="selectSearchProdList" parameterType="string" resultMap="itdProdResultSet">
		SELECT
			   PRO_NO
			 , MAKER
			 , PRO_NAME
			 , MODEL_NAME
		  FROM
		  	   PRODUCT_TB
		 WHERE
		 	   PRO_NAME LIKE '%' || #{keyword} || '%'
	</select>
	
</mapper>