<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myListMapper">
	<resultMap type="MyBoard" id="myListResultSet">
		<id property="boardNo" column="B_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="btitle" column="BTITLE"/>
		<result property="category" column="CATEGORY"/>
		<result property="createDate" column="B_CREATE_DATE"/>
		<result property="bstatus" column="B_STATUS"/>
	</resultMap>
	
	
	<select id="selectMyBoardList" parameterType="_int" resultMap="myListResultSet">
		SELECT
				  B_NO
				, BTITLE
				, CATEGORY
				, B_CREATE_DATE
		FROM
				  BOARD_TB
		WHERE
				USER_NO = #{ userNo }
		AND		B_STATUS = 'Y'
		ORDER BY
				B_NO DESC
	</select>
</mapper>