<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="supportMapper">
	<resultMap type="Phone" id="compareResultSet">
		<id property="prono" column="PRO_NO"/>
		<result property="proname" column="PRO_NAME"/>
		<result property="modelname" column="MODEL_NAME"/>
		<result property="carrname" column="CARR_NAME"/>
		<result property="maker" column="MAKER"/>
		<result property="releaseDate" column="RELEASE_DATE"/>
		<result property="releasePrice" column="RELEASE_PRICE"/>
		<result property="os" column="OS"/>
		<result property="appearance" column="APPEARANCE"/>
		<result property="display" column="DISPLAY"/>
		<result property="spec" column="SPEC"/>
		<result property="camera" column="CAMERA"/>
		<result property="battery" column="BATTERY"/>
		<result property="com" column="COM"/>
		<result property="point" column="POINT"/>
		<result property="fileOrigin" column="FILE_ORIGIN"/>
		<result property="fileRename" column="FILE_RENAME"/>
		<result property="filePath" column="FILE_PATH"/>
	</resultMap>
	<select id="selectPhoneList" parameterType="Phone" resultMap="compareResultSet">
	<bind name="m" value="_parameter.getMaker()"/>
	<bind name="c" value="_parameter.getCarrname()"/>
		SELECT
			  PRO_NO
			, PRO_NAME
			, MODEL_NAME
			, CARR_NAME
			, MAKER
			, RELEASE_DATE
			, RELEASE_PRICE
			, OS
			, APPEARANCE
			, DISPLAY
			, SPEC
			, CAMERA
			, BATTERY
			, COM
			, POINT
			, FILE_ORIGIN
			, FILE_RENAME
			, FILE_PATH
		  FROM
			  PHONE_TB
	     JOIN PRODUCT_TB USING(PRO_NO)
		 JOIN CARRIER_TB USING(CARR_NO)
		 <where>
		 	<if test="m != '제조사 선택'">
		 		AND MAKER = #{m}
		 	</if>
		 	<if test="c != '통신사 선택'">
		 		AND CARR_NAME = #{c}
		 	</if>
		 </where>
	</select>
</mapper>










