<?xml version="1.0" encoding="UTF-8"?>
<!-- XML 문서의 유효성 체크를 위해 필요한 부분 -->
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- settings -->
	<settings>
		<!-- 만약에 null로 데이터가 전달 되면 빈칸이 아닌 null로 인식 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- typeAliases -->
	<typeAliases>
		<typeAlias type="com.kh.naturephone.support.model.vo.Phone" alias="Phone"/>
		<typeAlias type="com.kh.naturephone.myPage2.dealInfo.model.vo.DealInfo" alias="DealInfo"/>
		<typeAlias type="com.kh.naturephone.myPage2.dealInfo.model.vo.BuyerInfo" alias="BuyerInfo"/>
		<typeAlias type="com.kh.naturephone.myPage2.dealInfo.model.vo.PaymentInfo" alias="PaymentInfo"/>
		<typeAlias type="com.kh.naturephone.myPage2.dealInfo.model.vo.CalculateInfo" alias="CalculateInfo"/>
	</typeAliases>
	
	<!-- mappers -->
	<mappers>
		<mapper resource="mappers/support-mapper.xml"/>
		<mapper resource="mappers/sellInfo-mapper.xml"/>
	</mappers>
	
</configuration>