<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		/WEB-INF/spring/root-context.xml
		/WEB-INF/spring/spring-security.xml
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
			/WEB-INF/spring/appServlet/servlet-context.xml
			/WEB-INF/spring/appServlet/aspect-context.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- 공용 에러페이지 등록 -->
	<error-page>
		<!-- 모든 Exception에 대해서 -->
		<exception-type>java.lang.Exception</exception-type>
		<!-- errorPage.jsp로 -->
		<location>/WEB-INF/views/common/errorPage.jsp</location>
	</error-page>
	
	<!-- 필터 등록 -->
	<filter>
		<!-- filter-name 은 원하는대로 지정 -->
		<filter-name>encodingFilter</filter-name>
		<!-- filter-class 는 filter로 사용할 클래스 풀네임(패키지명 포함) -->
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<!-- init-param 은 초기화시 넘길 파라미터 기재 -->
		<init-param>
			<!-- encoding 값을 UTF-8로 지정 -->
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<!-- 응답 데이터 문자셋 설정도 함께 -->
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<!-- 어떤 요청에 대해서 위에서 등록한 필터를 사용할 것인지 -->
	<filter-mapping>
		<!-- 위에서 지정한 filter-name -->
		<filter-name>encodingFilter</filter-name>
		<!-- 모든 url 요청에 대해서 필터를 거치게 함 -->
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
